    {{ container_name }}:
        container_name: {{ container_name }}
        image: postgres:latest
        restart: always
        environment:
            POSTGRES_USER: {{ user }}
            POSTGRES_PASSWORD: {{ password }}
            POSTGRES_DB: {{ database_name }}
            PGDATA: ../{{ database_storage_location }}
        ports:
            - {{ port }}:5432